{% extends 'base.html' %}
 
<title> {% block title%} Add Pet {% endblock%} </title>
 
{% block content%} 

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1> Add a new Pet </h1>
                <form action="/newPet" method="post">
                    {{form.hidden_tag()}}
            
                    {% for field in form 
                        if field.widget.input_type != 'hidden' %}

                            {% if field.label.for !='available' and field.name != 'available' %}
                                <div class="form-group">
                                    {{field.label(class_='form_label')}}
                                    {{field(class_='form-control')}}
                                </div>

                                {% for error in field.errors %}
                                    <p class="error">
                                        {{error}}
                                    </p>
                                {% endfor %}
                                
                            {% else %}
                                    <div class="form-check">
                                        {{field.label}}
                                        {{field(class_='form-check-input')}}
                                    </div>

                                    {% for error in field.errors %}
                                        <p class="error">
                                            {{error}}
                                        </p>
                                    {% endfor %}

                            {% endif %}


                    {% endfor %}

                    <button class="btn btn-primary" type="submit"> Add Pet </button>
                </form>
                <a href="/" class='btn btn-primary'>Cancel</a>
            </div>

        </div>
        
    </div>

{% endblock %}